body{
    margin: 0px;
}


/* HEADER */

header div{
    height: 50px;
    background-color: rgb(143, 143, 255);
}

header div p{
    font-size: 2.5em;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
}


/* MAIN */

.original-text-container{
    width: 40%;
    height: 200px;
    display: inline-block;
}

.original-text-container p{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

.original-text-container textarea{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.button-container{
    width: 18.5%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 120px;
}

.edited-text-container{
    display: inline-block;
    width: 40%;
    height: 200px;
}

.edited-text-container p{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

.edited-text-container textarea{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.result{
    margin: 10px;
}


/* Algortihm CSS */
main .equal{
    display: inline;
}

main .insert{
    display: inline;
    color: green;
}

main .deleted{
    display: inline;
    color: red;
    text-decoration: line-through;
}